<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    {% block stylesheets %}
        <style type="text/css">
            a.button {
                padding: 10px 16px; font-size: 16px; line-height: 22px; border-radius: 6px;
                color: #fff; background-color: #337ab7; border: 1px solid #2e6da4;
                display: inline-block; text-align: center; text-decoration: none;
            }
        </style>
    {% endblock stylesheets %}
</head>
<body style="font-family:Helvetica,Arial,sans-serif;font-size:14px;line-height:19px;color:#333333;background:#f2f2f2;">
<div style="max-width:{% block width %}920{% endblock %}px;margin:auto;">
    <div style="box-shadow:0 2px 4px #cccccc;">
        <div style="background:#ffffff;padding:15px;text-align:center">
            <a href="{{ absolute_url('/') }}" style="display:inline-block;">
                MyApp
            </a>
        </div>
        <div style="background:#154890;padding:15px;">
            <h1 style="color:#ffffff;padding:0;margin:0;font-size:24px;line-height:24px;font-weight:normal;text-align:center;">
                {% block subject %}{% endblock %}
            </h1>
        </div>
        <div style="background:#ffffff;padding:15px;">
            {% block body %}{% endblock %}
        </div>
    </div>
</div>
</body>
</html>
